body{
    text-align: center;
}
.main{
display: flex;
justify-content: space-around;
}
.edit{
    background-color: blue;
    width: 100%;
}
textarea{
    width: 100%;
    min-height: 250px;
    overflow: scroll;
    font-size: x-large;
}
iframe{
    width: 100%;
    height: 30em;
}